<div class="collections">

  {% for collection in collections %}
  <div class="collection--item">
      

      <ul>
        {% paginate array by page_size %}
  {% for item in array %}
    forloop_content
  {% endfor %}
{% endpaginate %}
    
          {% for product in collection.products %}
            <h1>{{ collection.title }}</h1>
              <li>
                <figure>
                  <a class="product-card" href="{{ product.url | within: collection }}">
                    <img src="{{ product.featured_image.src | img_url: '1024x' }}" alt="" loading="lazy">
                    <figcaption>
                      <h1>{{ product.title }}</h1>
                      <p>
                          {{ product.price | money_without_trailing_zeros }}
                      </p>
                      <p>
                        {{ product.vendor }}
                      </p>
                  </a>
                </figure>
              </li>
          {% endfor %}
      </ul>
  {% endfor %}
  </div>
</div>