{% for product in collections.all.products %}
<div class="all_products">
    {%- assign featured_image = product.featured_image %}
    <figure>
    <a href="{{ product.url }}">
        <img 
            src="{{ featured_image | image_url }}" 
            alt="{{ featured_image.alt | escape }}" 
            loading="lazy"
            width="{{ image.width }}"
            height="{{ image.height }}"
        >
    </a>
    <figcaption>
        <p>{{ product.title }}</p>
        <p>{{ product.price | money_without_trailing_zeros }}</p>
    <figcaption>
</figure>
</div>
{% endfor %}


{% schema %}
{
    "name": "content",
    "class": "content"

}
{% endschema %}