{% for product in collections.all.products %}
<div class="all_products">
    {%- assign featured_image = product.featured_image %}

    <a href="{{ product.url }}">
        <img 
            src="{{ featured_image | image_url }}" 
            alt="{{ featured_image.alt | escape }}" 
            loading="lazy"
            width="{{ image.width }}"
            height="{{ image.height }}"
        >
    </a>
    {{ product.title }}
    {{ product.price | money_without_trailing_zeros }} 

</div>
{% endfor %}


{% schema %}
{
    "name": "content",
    "class": "content"

}
{% endschema %}