<div class="content">
    
    <select class="content--tags" name="tags">
        <option value="peinture">peinture</option>
    </select>

    {% paginate collections.all.products by 20 %}

    <div class="content--index">
        {% for product in collections.all.products %}
        <div class="content--item">
            {%- assign featured_image = product.featured_image %}
            <figure>
            <a href="{{ product.url }}">
                <img 
                    src="{{ featured_image | image_url }}" 
                    alt="{{ featured_image.alt | escape }}" 
                    loading="lazy"
                    width="{{ image.width }}"
                    height="{{ image.height }}"
                >
            </a>    
            <figcaption>
                <h1>{{ product.vendor }}</h1>

                <p><i>{{ product.title }}</i></p>
                
                <h2>{{ product.price | money_without_trailing_zeros }}</h2>
            <figcaption>
        </figure>
        </div>
        {% endfor %}
    </div>
    <div class="content--pagination">
    <a href="{{ paginate.previous.url }}">{{ paginate.previous.title }}</a>
    <a href="/">{{- paginate.current_page -}} / {{- paginate.pages -}}</a>
    <a href="{{ paginate.next.url }}">{{ paginate.next.title }}</a>
    </div>
    
    {% endpaginate %}
</div>

