<div class="product">
    <div class="product--main">
        <div class="product--info">

            <h1>{{ product.title }}</h1>

            <h2>{{ product.vendor }}</h2>

            <p>{{ product.description }} <br/> Poids : {{ product.variants[0].weight | weight_with_unit }}</p>
            
            <h2>{{ product.price | money_without_trailing_zeros }}</h2>

            {% if product.variants[0].inventory_quantity <= 1 %}

                <form 
                    style="margin-bottom:20px" 
                    class="product-form" 
                    action="/cart/add" 
                    data-productid="{{ product.id }}"  
                    method="post"
                > 
                    <input 
                        type="hidden" 
                        name="id" 
                        data-productid="{{ product.id }}" 
                        class="product-select" 
                        value="{{ product.variants[0].id }}" 
                        data-variant-title="{{ product.variants[0].title }}" 
                    />
                    
                    <input 
                        type="submit" 
                        value="Ajouter au panier" 
                    />

                </form>


            {% else %}

                <form 
                    style="margin-bottom:20px" 
                    class="product-form" 
                    action="/cart/add" 
                    data-productid="{{ product.id }}"  
                    method="post"
                > 
                    <label 
                        for="quantity">Quantité : </label>
                    <input 
                        min="1" 
                        type="number" 
                        id="quantity" 
                        name="quantity" 
                        value="1" 
                    />    
                    <input 
                        type="hidden" 
                        name="id" 
                        data-productid="{{ product.id }}" 
                        class="product-select" 
                        value="{{ product.variants[0].id }}" 
                        data-variant-title="{{ product.variants[0].title }}" 
                    />
                    
                    <input 
                        type="submit" 
                        value="Ajouter au panier" 
                    />

                </form>

            {% endif %}

            <p class="product-form--tags">
            
            {% for tag in product.tags %} 
                <button>{{ tag }}</button>
            {% endfor %}
        </p>

        </div>            

        <div class="product--images" id="product--images">
            <div class="product--images-container">
            {% for image in product.images %}
                <img 
                    src="{{ image | image_url }}" 
                    loading="lazy"
                    class="product--images-photo"
                    {% comment %} width="100" {% endcomment %}
                    {% comment %} height="100" {% endcomment %}
                />
            {% endfor %}
            </div>
            <div class="product--images-btn">
                <div id="product--images-next" class="product--images-next">précédent</div>
                <div id="product--images-prev" class="product--images-prev">suivant</div>
            </div>
            
        </div>
    </div>
    {%comment%}
    <div class="product--variants" id="product--variants">
        <div class="product--variants-container">
            {% for variant in product.variants %}
                {{ variant.title }}
            {% endfor %}
        </div>
    </div>
    {%endcomment%}

</div>